
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');

* {
  font-family: "Share Tech Mono", monospace;
}

body {
   background-color: rgb(16, 15, 15);
   color: rgb(247, 243, 243);
   font-size: 18px;
   line-height: 1.5em;

  }

.container {
  margin: 90px;
}

a {
  color: rgb(16, 15, 15);
  background-color: antiquewhite;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 30px;
  }
 

}

