@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  font-family: "Bangers", system-ui;
}

body {
  background-color: transparent !important;
}
.all-wrapper {
  display: flex !important;
  align-items: start !important;
  justify-content: start !important;
  flex-direction: column !important;
  background-color: transparent !important;
  width: 100%;
  margin: 3em;
}
.icon-pencil {
  content: url("../assets/pencil-fill.svg");
}
.icon-eraser {
  content: url("../assets/eraser-fill.svg");
}
.icon-play {
  content: url("../assets/play-circle-fill.svg");
}
.icon-drop {
  content: url("../assets/arrow-down-circle-line.svg");
}
.s-container {
  width: fit-content;
  height: auto;
  position: relative;
  margin-bottom: 8px;
}
.btn-action {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 2px;
  background-color: #ffd55f;
  opacity: 0;
  z-index: 1;
  margin-top: 6px;
  border-radius: 4px;
  border-color: #353535;
}

@keyframes updown {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
.list-container {
  /* width: 5em; */
  margin-left: 1em;
  height: auto;
  display: block;
  flex-direction: column;
  /* align-items: start; */
  /* justify-self: start; */
  align-self: self-start;
  /* justify-content: start; */
  margin-top: 0px;
}
.list {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 0px;
  overflow: visible !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.parent-title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  animation: popout 1s ease-in-out;
  position: relative;
  width: 100%;
  min-width: 200px;
  min-height: 60px;
  height: fit-content;
  display: flex;
  margin-left: 1em;
  align-items: center;
  justify-content: center;
  padding: 6px 22px;
  padding-right: 40px;
  overflow: visible;
  z-index: 1 !important;
}
.parent-title::before {
  content: "";
  width: 4em;
  height: 4em;
  position: absolute;
  left: -28px;
  top: -20px;
  background-image: url("../assets/mask.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* animation: updown 9s infinite linear; */
  transform-origin: center;
}
.parent-title::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 4px;
  bottom: -12px;
  background-image: url("../assets/bg-setlist.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* animation: rotation 9s infinite linear; */
  transform-origin: center;
}

.title {
  color: #fff;
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px,
    rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px,
    rgb(0, 0, 0) 0.705713px 2.91581px 0px,
    rgb(0, 0, 0) -0.287171px 2.98622px 0px,
    rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px,
    rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px,
    rgb(0, 0, 0) -2.94502px -0.571704px 0px,
    rgb(0, 0, 0) -2.59586px -1.50383px 0px,
    rgb(0, 0, 0) -1.96093px -2.27041px 0px,
    rgb(0, 0, 0) -1.11013px -2.78704px 0px,
    rgb(0, 0, 0) -0.137119px -2.99686px 0px,
    rgb(0, 0, 0) 0.850987px -2.87677px 0px,
    rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px,
    rgb(0, 0, 0) 2.88051px -0.838247px 0px;
  font-weight: bold;
  position: relative;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  font-size: 34px;
  margin-left: 0.5em;
  z-index: 9999 !important;
}

@keyframes berry {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes popout {
  0% {
    transform: translateY(20px);
    opacity: 1;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.setlist {
  font-size: 28px;
  height: 5em;
  font-weight: bold;
  padding: 8px;
  margin: 48px 0px 10px 0px;
  border-radius: 8px;
  color: #000000;
  margin-bottom: 50px;
  width: 15em;

  background: rgb(142, 87, 160);
  background: url("../assets/bg-marin.png");
  color: #fff;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  z-index: 9;
  font-family: "Fira Code", monospace !important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#box {
  width: 100px;
  height: 110px;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  transform: rotate(-2deg);
  left: 11px;
}

#kaset {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 8px;
  left: -50px;

  z-index: 99 !important;
  content: url("../assets/kaset.png");
  animation: rotation 15s linear infinite;
}

.setlist .main-title {
  text-align: left;
  font-size: 32px;
  margin-left: 2.3em;
  width: 300px;
  margin-top: -46px !important;
  transform: rotate(-2deg) !important;
}
@keyframes sparkle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.tagName {
  background-color: #ffd55f;
  padding: 4px 8px;
  border-radius: 2px;
  color: #353535;
  position: absolute;
  right: 0px;
  top: -50px;
  width: fit-content;
  height: auto;
  font-size: 18px;
  font-weight: bold !important;
  border: 2px solid #353535;
  z-index: 9;
  /* font-family: "Fira Code", monospace !important; */
}
.container-input {
  width: 400px;
  height: 100px;
  position: absolute;
  left: 50px;
  /* right: 50%; */
  top: 194px;
  z-index: 1;
  /* margin-left: -150px; */
  /* background-color: red; */
  /* background-color: black; */
}
.parent-input {
  width: 200px;
  height: 50px;
  padding: 4px;
  z-index: -9999 !important;
  opacity: 0;
}
.parent-input #song {
  border: 2px solid #ffd55f;
  color: #ffd55f;
  width: 300px !important;
  width: fit-content;
  font-weight: bold;
  z-index: -9999 !important;
  background-color: #353535;
  font-family: "Fira Code", monospace !important;
}
.parent-input #song:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.parent-input #song::placeholder {
  color: rgba(240, 248, 255, 0.766);
}
.active {
  display: block !important;
  transition: 0.5;
}
#leaf-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
#leaf-container span {
  position: absolute;
  width: 55px;
  height: 55px;
  background-image: url("../assets/leaf.png");
  /* background-image: url("data:image/svg+xml,%3csvg  viewBox='0 0 269 277' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M267.448 139.472L267.41 131.722L225.707 121.261C225.705 121.26 225.702 121.26 225.7 121.259C205.613 116.13 187.402 105.413 173.189 90.358C158.975 75.3011 149.345 56.5256 145.421 36.2205C145.421 36.2204 145.421 36.2203 145.421 36.2202L138.663 1.24128L130.809 1.23818L124.016 36.2529L124.016 36.2554C120.092 56.5516 110.466 75.3187 96.258 90.3691C82.0504 105.419 63.8463 116.133 43.7664 121.261C43.7658 121.261 43.7653 121.261 43.7647 121.261L2.01203 131.903L1.98882 139.65L43.6709 150.54C63.7384 155.79 81.8951 166.62 96.0248 181.769C110.154 196.916 119.674 215.757 123.477 236.094C123.477 236.095 123.477 236.095 123.478 236.095L130.803 275.575L138.669 275.572L145.96 236.123L145.96 236.123C149.726 215.742 159.235 196.852 173.373 181.664C187.513 166.476 205.697 155.618 225.8 150.363L225.801 150.363L267.448 139.472Z' fill='url(%23paint0_linear_4378_28)' stroke='white' stroke-width='8'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_4378_28' x1='134.718' y1='2' x2='134.718' y2='274.845' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23935BA2'/%3e%3cstop offset='1' stop-color='%23EBA4C8'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
  background-size: cover;
  animation: fall 9s linear infinite;
  z-index: 99999 !important;
}
@keyframes fall {
  0% {
    transform: translate(0vw, -100vh) rotate(0deg) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(calc(100vw * var(--random-x)), 100vh) rotate(720deg)
      scale(1);
    opacity: 1;
  }
}
#leaf-container span:nth-child(1) {
  --random-x: 0.5;
  animation-delay: 1s;
}
#leaf-container span:nth-child(2) {
  --random-x: 0.5;
  animation-delay: 2s;
}
#leaf-container span:nth-child(3) {
  --random-x: 0.5;
  animation-delay: 3s;
}
#leaf-container span:nth-child(4) {
  --random-x: 0.7;
  animation-delay: 4s;
}
#leaf-container span:nth-child(5) {
  --random-x: 0.6;
  animation-delay: 5s;
}
#leaf-container span:nth-child(6) {
  --random-x: 0.4;
  animation-delay: 4.5s;
}
#leaf-container span:nth-child(7) {
  --random-x: 0.3;
  animation-delay: 3.5s;
}
#leaf-container span:nth-child(8) {
  --random-x: 0.4;
  animation-delay: 2.5s;
}
#leaf-container span:nth-child(9) {
  --random-x: 0.6;
  animation-delay: 5s;
}
#leaf-container span:nth-child(10) {
  --random-x: 0.5;
  animation-delay: 7s;
}
#leaf-container span:nth-child(11) {
  --random-x: 0.4;
  animation-delay: 6s;
}
