@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
* {
  font-family: "Fredoka", sans-serif;
}
body {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  background-color: transparent !important;
  width: 100%;
}
.icon-pencil {
  content: url("../assets/pencil-fill.svg");
}
.icon-eraser {
  content: url("../assets/eraser-fill.svg");
}
.icon-play {
  content: url("../assets/play-circle-fill.svg");
}
.icon-drop {
  content: url("../assets/arrow-down-circle-line.svg");
}
.s-container {
  width: fit-content;
  height: auto;
  position: relative;
}
.btn-action {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 2px;
  background-color: #ca9d67;
  opacity: 0;
  z-index: 1;
  margin-top: 12px;
  border-radius: 4px;
  border-color: #fff;
}

@keyframes updown {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
.list-container {
  /* width: 5em; */
  margin-left: 12em;
  height: auto;
  display: block;
  flex-direction: column;
  /* align-items: start; */
  /* justify-self: start; */
  align-self: self-start;
  /* justify-content: start; */
  margin-top: 10px;
}
.list {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 0px;
  overflow: visible !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.parent-title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  animation: popout 1s ease-in-out;
  position: relative;
  width: fit-content;
  min-width: 200px;
  min-height: 60px;
  height: fit-content;
  display: flex;
  margin-left: 2em;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #8c1c32 0%, #48223e 100%);
  border: 2px solid #ca9d67;
  box-shadow: 0px 0px 12px 2px #6a696a;
  border-radius: 8px;
  padding: 6px 32px;
  padding-right: 40px;
  overflow: visible;
  z-index: 1 !important;
}
.parent-title::before {
  content: "";
  width: 5em;
  height: 5em;
  position: absolute;
  left: -44px;
  top: -10px;
  background-image: url("../assets/musik.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* animation: updown 9s infinite linear; */
  transform-origin: center;
}
.parent-title::after {
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  right: 4px;
  top: 2px;
  background-image: url("../assets/yellow-star.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* animation: rotation 9s infinite linear; */
  transform-origin: center;
}

.title {
  color: #ca9d67;
  font-weight: bold;
  position: relative;
  width: fit-content;
  min-width: 200px;
  max-width: 350px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  font-size: 24px;
  margin-left: 1em;
  z-index: 9999 !important;
}

@keyframes berry {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes popout {
  0% {
    transform: translateY(20px);
    opacity: 1;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.setlist {
  font-size: 28px;
  height: 5em;
  font-weight: bold;
  padding: 8px;
  margin: 48px 0px 10px 0px;
  border-radius: 8px;
  color: #000000;
  margin-bottom: 50px;
  width: 15em;

  background: rgb(142, 87, 160);
  background: url("../assets/labalaba.png"),
    linear-gradient(90deg, #8c1c32 0%, #48223e 100%);
  color: #ca9d67;
  background-position: 200% 70%, center;
  background-size: 80%, 100%;
  background-repeat: no-repeat;
  border: 2px solid #ca9d67;
  box-shadow: 0px 0px 18px 2px #9f9f9f;
  z-index: 9;
  font-family: "Fira Code", monospace !important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#box {
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 40px;
  background-image: url("../assets/box.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 999 !important;
  content: " ";
}

#kaset {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 20%;
  left: 18%;

  z-index: 99 !important;
  content: url("../assets/kaset.png");
  animation: rotation 15s linear infinite;
}

#asset-parent span {
  background-image: url("../assets/yellow-star.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 28px;
  height: 28px;
  /* background-color: blue; */
  position: absolute;

  z-index: 9999 !important;
  content: " ";
  margin: 8px;
}

#asset-parent span:nth-child(1) {
  left: 0px;
  top: 0px;
}

#asset-parent span:nth-child(2) {
  right: 0px;
  top: 0px;
}
#asset-parent span:nth-child(3) {
  left: 0px;
  bottom: 0px;
}

#asset-parent span:nth-child(4) {
  right: 0px;
  bottom: 0px;
}

.setlist .main-title {
  text-align: left;
  font-size: 32px;
  margin-left: 5em;
  width: 200px;
}
@keyframes sparkle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.tagName {
  background-color: #48223e;
  padding: 4px 8px;
  border-radius: 6px;
  color: #ca9d67;
  position: absolute;
  right: 0px;
  top: -50px;
  width: fit-content;
  height: auto;
  font-size: 18px;
  font-weight: bold !important;
  border: 2px solid #ca9d67;
  z-index: 9;
  /* font-family: "Fira Code", monospace !important; */
}
.container-input {
  width: 400px;
  height: 100px;
  position: absolute;
  left: 45%;
  right: 50%;
  top: 145px;
  z-index: 1;
  margin-left: -150px;
  /* background-color: black; */
}
.parent-input {
  width: 200px;
  height: 50px;
  padding: 4px;
  z-index: -9999 !important;
  opacity: 0;
}
.parent-input #song {
  border: 2px solid #fff;
  color: #fff;
  width: 300px !important;
  width: fit-content;
  font-weight: bold;
  z-index: -9999 !important;
  background-color: #48223e;
  font-family: "Fira Code", monospace !important;
}
.parent-input #song:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.parent-input #song::placeholder {
  color: rgba(240, 248, 255, 0.766);
}
.active {
  display: block !important;
  transition: 0.5;
}
#leaf-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
#leaf-container span {
  position: absolute;
  width: 55px;
  height: 55px;
  background-image: url("../assets/yellow-star.png");
  /* background-image: url("data:image/svg+xml,%3csvg  viewBox='0 0 269 277' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M267.448 139.472L267.41 131.722L225.707 121.261C225.705 121.26 225.702 121.26 225.7 121.259C205.613 116.13 187.402 105.413 173.189 90.358C158.975 75.3011 149.345 56.5256 145.421 36.2205C145.421 36.2204 145.421 36.2203 145.421 36.2202L138.663 1.24128L130.809 1.23818L124.016 36.2529L124.016 36.2554C120.092 56.5516 110.466 75.3187 96.258 90.3691C82.0504 105.419 63.8463 116.133 43.7664 121.261C43.7658 121.261 43.7653 121.261 43.7647 121.261L2.01203 131.903L1.98882 139.65L43.6709 150.54C63.7384 155.79 81.8951 166.62 96.0248 181.769C110.154 196.916 119.674 215.757 123.477 236.094C123.477 236.095 123.477 236.095 123.478 236.095L130.803 275.575L138.669 275.572L145.96 236.123L145.96 236.123C149.726 215.742 159.235 196.852 173.373 181.664C187.513 166.476 205.697 155.618 225.8 150.363L225.801 150.363L267.448 139.472Z' fill='url(%23paint0_linear_4378_28)' stroke='white' stroke-width='8'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_4378_28' x1='134.718' y1='2' x2='134.718' y2='274.845' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23935BA2'/%3e%3cstop offset='1' stop-color='%23EBA4C8'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
  background-size: cover;
  animation: fall 9s linear infinite;
  z-index: 99999 !important;
}
@keyframes fall {
  0% {
    transform: translate(50vw, -100vh) rotate(0deg) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(calc(100vw * var(--random-x)), 100vh) rotate(720deg)
      scale(1);
    opacity: 1;
  }
}
#leaf-container span:nth-child(1) {
  --random-x: 0.5;
  animation-delay: 1s;
}
#leaf-container span:nth-child(2) {
  --random-x: 0.5;
  animation-delay: 2s;
}
#leaf-container span:nth-child(3) {
  --random-x: 0.5;
  animation-delay: 3s;
}
#leaf-container span:nth-child(4) {
  --random-x: 0.7;
  animation-delay: 4s;
}
#leaf-container span:nth-child(5) {
  --random-x: 0.6;
  animation-delay: 5s;
}
#leaf-container span:nth-child(6) {
  --random-x: 0.4;
  animation-delay: 4.5s;
}
#leaf-container span:nth-child(7) {
  --random-x: 0.3;
  animation-delay: 3.5s;
}
#leaf-container span:nth-child(8) {
  --random-x: 0.4;
  animation-delay: 2.5s;
}
#leaf-container span:nth-child(9) {
  --random-x: 0.6;
  animation-delay: 5s;
}
#leaf-container span:nth-child(10) {
  --random-x: 0.5;
  animation-delay: 7s;
}
#leaf-container span:nth-child(11) {
  --random-x: 0.4;
  animation-delay: 6s;
}
