@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
* {
  font-family: "Alexandria", serif;
}

body {
  background-color: transparent !important;
}
@keyframes bganim {
  0% {
    opacity: 1;
    transform: rotate(-15deg);
    transform-origin: left;
  }

  100% {
    opacity: 1;
    transform: rotate(0);
    transform-origin: left;
  }
}
.all-wrapper {
  display: flex !important;
  align-items: start !important;
  justify-content: start !important;
  flex-direction: column !important;
  background-color: transparent !important;
  width: 100%;
  margin: 3em;
}
.icon-pencil {
  content: url("../assets/pencil-fill.svg");
}
.icon-eraser {
  content: url("../assets/eraser-fill.svg");
}
.icon-play {
  content: url("../assets/play-circle-fill.svg");
}
.icon-drop {
  content: url("../assets/arrow-down-circle-line.svg");
}
.s-container {
  width: fit-content;
  height: auto;
  position: relative;
  margin: 0px 16px;
  animation: popout 1s ease-in-out;
}
.s-container::after {
  content: url("data:image/svg+xml,%3csvg  viewBox='0 0 325 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_4851_213)'%3e%3cpath d='M325 -36H0V4H325V-36Z' fill='%23A03F3C'/%3e%3cpath d='M24.9925 -21C24.9925 -29.2843 19.3977 -36 12.4963 -36C5.59476 -36 0 -29.2843 0 -21V15.6768C0 23.961 5.59476 30.6768 12.4963 30.6768C19.3977 30.6768 24.9925 23.961 24.9925 15.6768V-21Z' fill='%23A03F3C'/%3e%3cpath d='M74.9925 -21C74.9925 -29.2843 69.3977 -36 62.4963 -36C55.5948 -36 50 -29.2843 50 -21V45.306C50 53.5903 55.5948 60.306 62.4963 60.306C69.3977 60.306 74.9925 53.5903 74.9925 45.306V-21Z' fill='%23A03F3C'/%3e%3cpath d='M124.993 -21C124.993 -29.2843 119.398 -36 112.496 -36C105.595 -36 100 -29.2843 100 -21V15.0259C100 23.3102 105.595 30.0259 112.496 30.0259C119.398 30.0259 124.993 23.3102 124.993 15.0259V-21Z' fill='%23A03F3C'/%3e%3cpath d='M174.992 -21C174.992 -29.2843 169.398 -36 162.496 -36C155.595 -36 150 -29.2843 150 -21V41.6094C150 49.8937 155.595 56.6094 162.496 56.6094C169.398 56.6094 174.992 49.8937 174.992 41.6094V-21Z' fill='%23A03F3C'/%3e%3cpath d='M224.992 -21C224.992 -29.2843 219.398 -36 212.496 -36C205.595 -36 200 -29.2843 200 -21V12.5863C200 20.8706 205.595 27.5863 212.496 27.5863C219.398 27.5863 224.992 20.8706 224.992 12.5863V-21Z' fill='%23A03F3C'/%3e%3cpath d='M274.992 -21C274.992 -29.2843 269.398 -36 262.496 -36C255.595 -36 250 -29.2843 250 -21V25.4655C250 33.7497 255.595 40.4655 262.496 40.4655C269.398 40.4655 274.992 33.7497 274.992 25.4655V-21Z' fill='%23A03F3C'/%3e%3cpath d='M324.992 -21C324.992 -29.2843 319.398 -36 312.496 -36C305.595 -36 300 -29.2843 300 -21V41.3676C300 49.6519 305.595 56.3676 312.496 56.3676C319.398 56.3676 324.992 49.6519 324.992 41.3676V-21Z' fill='%23A03F3C'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_4851_213'%3e%3crect width='325' height='64' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  width: 190px;
  height: auto;
  position: absolute;
  right: 19px;
  bottom: -4px;
  z-index: -9999 !important;
  animation: bganim 400ms linear;
  transform-origin: center;
}
.btn-action {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 2px;
  background-color: #fed0d2;
  opacity: 0;
  z-index: 1;
  margin-top: 6px;
  border-radius: 4px;
  border-color: #a03f3c;
}

@keyframes updown {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
.list-container {
  /* width: 5em; */
  /* background-color: black; */
  width: 100%;
  margin-left: 0.5em;
  /* height: auto; */
  display: block;
  flex-direction: column;
  /* align-items: start; */
  /* justify-self: start; */
  align-self: self-start;
  /* justify-content: start; */
  margin-top: 0px;
  height: 500px;
  overflow: hidden !important;
}
@keyframes autoscroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.list {
  height: 395px;
  width: 100%;

  margin-top: 0px;
  overflow-y: scroll !important;
  transition: opacity 0.5s ease-in-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.parent-title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 170px;
  min-height: 60px;
  height: fit-content;
  display: flex;
  margin-left: 2em;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  padding-right: 14px;
  overflow: visible;
  border-radius: 14px;
  border: 3px solid #a03f3c;
  z-index: 99 !important;
  background: rgb(248, 118, 127);

  background: linear-gradient(
    90deg,
    rgba(248, 118, 127, 1) 0%,
    rgba(244, 85, 112, 1) 100%
  );
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.parent-title::before {
  content: "";
  width: 44px;
  height: 44px;
  position: absolute;
  left: -25px;
  top: 4px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fed0d2;
  border-radius: 12px;
  /* padding: 4px !important; */
  background-image: url("../assets/music.png");
  background-position: center;
  background-size: 60%;
  /* background-clip: padding-box; */
  background-repeat: no-repeat;
  /* animation: updown 9s infinite linear; */
  transform-origin: center;
}

@keyframes shaking {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-8deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
.parent-title::after {
  content: "";
  width: 44px;
  height: 44px;
  position: absolute;
  right: -15px;
  top: -28px;
  /* box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25); */
  /* background-color: #fed0d2; */
  border-radius: 12px;
  /* padding: 4px !important; */
  background-image: url("../assets/kakikucing.png");
  background-position: center;
  background-size: 60%;
  /* background-clip: padding-box; */
  background-repeat: no-repeat;
  animation: shaking 3s infinite linear;
  transform-origin: center;
}

.title {
  color: #a03f3c;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

  font-weight: normal;
  position: relative;
  /* width: 100%; */
  min-width: 200px;
  max-width: 350px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  font-size: 20px;
  margin-left: 0.1em;
  padding: 2px 10px;
  z-index: 9999 !important;
  background-color: #fed0d2;
  border-radius: 8px;
}

@keyframes berry {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes popout {
  0% {
    transform: translateY(20px);
    opacity: 1;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.setlist {
  font-size: 28px;
  height: 5.5em;
  font-weight: bold;
  padding: 8px;
  margin: 48px 0px 10px 20px;
  border-radius: 8px;
  color: #000000;
  margin-bottom: 50px;
  width: 15em;
  box-sizing: border-box;
  background: rgb(142, 87, 160);
  background: url("../assets/bg-pia.png");
  color: #fff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  z-index: 9;
  font-family: "Fira Code", monospace !important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#box {
  width: 100px;
  height: 110px;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  transform: rotate(-2deg);
  left: 11px;
}

#kaset {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 30px;
  left: 35px;

  z-index: 99 !important;
  content: url("../assets/kaset.png");
  animation: rotation 15s linear infinite;
}

.setlist .main-title {
  text-align: left;
  font-size: 28px;
  margin-left: 5.2em;
  width: 220px;
  margin-top: -52px !important;
  color: #a03f3c;
  /* transform: rotate(-2deg) !important; */
}
@keyframes sparkle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.tagName {
  background-color: #fed0d2;
  padding: 4px 8px;
  border-radius: 2px;
  color: #a03f3c;
  position: absolute;
  right: 0px;
  top: -18px;
  width: fit-content;
  height: auto;
  font-size: 18px;
  font-weight: bold !important;
  border: 2px solid #a03f3c;
  z-index: 9;
  border-radius: 24px;
  /* font-family: "Fira Code", monospace !important; */
}
.container-input {
  width: 400px;
  height: 100px;
  position: absolute;
  left: 50px;
  /* right: 50%; */
  top: 194px;
  z-index: 1;
  /* margin-left: -150px; */
  /* background-color: red; */
  /* background-color: black; */
}
.parent-input {
  width: 200px;
  height: 50px;
  padding: 4px;
  z-index: -9999 !important;
  opacity: 0;
}
.parent-input #song {
  border: 2px solid #a03f3c;
  color: #a03f3c;
  height: 34px;
  width: 300px !important;
  width: fit-content;
  margin-left: 20px;
  font-weight: bold;
  z-index: -9999 !important;
  background-color: #fed0d2;
  border-radius: 8px;
  font-family: "Fira Code", monospace !important;
}
.parent-input #song:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.parent-input #song::placeholder {
  color: #a03f3c;
}
.active {
  display: block !important;
  transition: 0.5;
}
#leaf-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
#leaf-container span {
  position: absolute;
  width: 55px;
  height: 55px;
  background-image: url("../assets/leaf.png");
  /* background-image: url("data:image/svg+xml,%3csvg  viewBox='0 0 269 277' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M267.448 139.472L267.41 131.722L225.707 121.261C225.705 121.26 225.702 121.26 225.7 121.259C205.613 116.13 187.402 105.413 173.189 90.358C158.975 75.3011 149.345 56.5256 145.421 36.2205C145.421 36.2204 145.421 36.2203 145.421 36.2202L138.663 1.24128L130.809 1.23818L124.016 36.2529L124.016 36.2554C120.092 56.5516 110.466 75.3187 96.258 90.3691C82.0504 105.419 63.8463 116.133 43.7664 121.261C43.7658 121.261 43.7653 121.261 43.7647 121.261L2.01203 131.903L1.98882 139.65L43.6709 150.54C63.7384 155.79 81.8951 166.62 96.0248 181.769C110.154 196.916 119.674 215.757 123.477 236.094C123.477 236.095 123.477 236.095 123.478 236.095L130.803 275.575L138.669 275.572L145.96 236.123L145.96 236.123C149.726 215.742 159.235 196.852 173.373 181.664C187.513 166.476 205.697 155.618 225.8 150.363L225.801 150.363L267.448 139.472Z' fill='url(%23paint0_linear_4378_28)' stroke='white' stroke-width='8'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_4378_28' x1='134.718' y1='2' x2='134.718' y2='274.845' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23935BA2'/%3e%3cstop offset='1' stop-color='%23EBA4C8'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
  background-size: cover;
  animation: fall 9s linear infinite;
  z-index: 99999 !important;
}
@keyframes fall {
  0% {
    transform: translate(0vw, -100vh) rotate(0deg) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(calc(100vw * var(--random-x)), 100vh) rotate(720deg)
      scale(1);
    opacity: 1;
  }
}
#leaf-container span:nth-child(1) {
  --random-x: 0.5;
  animation-delay: 1s;
}
#leaf-container span:nth-child(2) {
  --random-x: 0.5;
  animation-delay: 2s;
}
#leaf-container span:nth-child(3) {
  --random-x: 0.5;
  animation-delay: 3s;
}
#leaf-container span:nth-child(4) {
  --random-x: 0.7;
  animation-delay: 4s;
}
#leaf-container span:nth-child(5) {
  --random-x: 0.6;
  animation-delay: 5s;
}
#leaf-container span:nth-child(6) {
  --random-x: 0.4;
  animation-delay: 4.5s;
}
#leaf-container span:nth-child(7) {
  --random-x: 0.3;
  animation-delay: 3.5s;
}
#leaf-container span:nth-child(8) {
  --random-x: 0.4;
  animation-delay: 2.5s;
}
#leaf-container span:nth-child(9) {
  --random-x: 0.6;
  animation-delay: 5s;
}
#leaf-container span:nth-child(10) {
  --random-x: 0.5;
  animation-delay: 7s;
}
#leaf-container span:nth-child(11) {
  --random-x: 0.4;
  animation-delay: 6s;
}
